
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" onclick="increaseQuantity()" class="btn btn-success">+</button>
    <button type="button" onclick="decreaseQuantity()" class="btn btn-success">-</button>
    <button type="submit" class="btn btn-success">주문담기</button>
    <a href="" class="btn btn-success">결제하기</a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function increaseQuantity() {
        var quantityInput = $('#id_quantity');
        var currentValue = parseInt(quantityInput.val());
        quantityInput.val(currentValue + 1);
    }

    function decreaseQuantity() {
        var quantityInput = $('#id_quantity');
        var currentValue = parseInt(quantityInput.val());
        if (currentValue > 1) {
            quantityInput.val(currentValue - 1);
        }
    }
</script>